:root {
    --nav-width: 1024px;
    --main-width: 1420px;
    --code-bg: #ffffff;
    --theme: #ededed;
    --secondary: rgb(30, 30, 30);
    overflow: auto;
}

.list {
    background: url('/9507.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: whitesmoke;
}

.first-entry {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 75vh;
    width: var(--main-width);
    max-width: 90%;
    box-sizing: border-box;
    /* Adds a top margin equal to 20% of the viewport height */
}

.first-entry .entry-header h1 {
    font-size: 200px;
    box-sizing: border-box;
}

.first-entry .entry-content {
    font-size: 20px;
    -webkit-line-clamp: 3;
    box-sizing: border-box;
}

/* Media queries for different screen sizes */
@media only screen and (max-width: 1720px) {
    .first-entry {
        width: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    .first-entry .entry-header h1 {
        font-size: 90px;
        /* Adjust font size for smaller screens */
    }
}

.logo a {
    font-size: 16px;
    font-weight: 500;
}

button#theme-toggle {
    font-size: 20px;
}

@media screen and (max-width: 767px) {
    body {
        font-size: 16px;
        /* Adjust the font size to your preference for mobile */
    }
}

body {
    background: url('/9511.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: whitesmoke;
}

mark {
    background-color: rgb(255, 255, 255); /* Replace 'blue' with your desired color */;
    padding: 0px;
    font-family: "Roboto Mono", monospace;
    font-weight: 100;
    font-size: 90%;
    display: inline-flexbox;
}