:root {
    --nav-width: 1024px;
    --main-width: 1420px;
    --code-bg: #ffffff;
    --theme: #ededed;
    --secondary: rgb(30, 30, 30);
    overflow: auto;
}

.list {
    background: url('/9507.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: whitesmoke;
}

.first-entry {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 80vh;
    width: var(--main-width);
    max-width: 90%;
    box-sizing: border-box;
    margin-bottom: 0%;
}

.first-entry .entry-header h1 {
    font-size: 200px;
    box-sizing: border-box;
    padding: 0px;
    display: inline;
}

.first-entry .entry-content {
    font-size: 20px;
    -webkit-line-clamp: 3;
    box-sizing: border-box;
}

/* Media queries for different screen sizes */
@media only screen and (max-width: 1720px) {
    .first-entry {
        width: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    .first-entry .entry-header h1 {
        font-size: 90px;
        /* Adjust font size for smaller screens */
    }
}

.logo a {
    font-size: 16px;
    font-weight: 500;
}

button#theme-toggle {
    font-size: 20px;
}

@media screen and (max-width: 767px) {
    body {
        font-size: 16px;
        /* Adjust the font size to your preference for mobile */
    }
}

body {
    background: url('/9511.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: whitesmoke;
}

mark {
    background-color: whitesmoke;
    padding: 0px;
    font-family: "Roboto Mono", monospace;
    font-weight: 100;
    font-size: 90%;
    display: inline-flexbox;
}

.social-icons {
    padding: 12px 0 0 0; /* reduce bottom padding to zero */
}

.footer {
    padding: calc(((var(--footer-height) - var(--gap)) / 2) - 20px) var(--gap); /* reduce top padding even more */
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    background-color: whitesmoke;
    padding: 0px;
    display: inline;
}